
    /* 回到顶部 */
    .back-to-ceiling .icon{
        fill:var(--theme-color) !important
    }

    //搜索框聚焦
    .search-box input:focus{
        border-color:var(--theme-color) !important
    }

    //搜索结果字体颜色
    .search-box .suggestion a .page-title{
        color:var(--drop-font-color) !important
    }
